@use "../../variables" as v;

.sporthub_title {
  color: white;
  text-align: left;
}

.signup_card {
  max-width: min(20rem, 90%);
  margin: 0 auto;
}

.signin_text {
  .signin_question {
    color: v.$sporthub-cream-yellow;
    padding-right: 1rem;
    text-wrap: nowrap;
  }
  .signin_link {
    color: white;
    text-wrap: nowrap;
  }
  margin-top: 1rem;
  font-weight: 600;
  width: 100%;
  text-align: right;
}

.signup_row {
  position: relative;
  z-index: 1;
}

@media (max-width: 425px) {
  .sporthub_title {
    text-align: center;
  }
  .signin_text {
    text-align: center;
    margin-top: 0px;
  }
}

.signup_button {
  max-width: min-content;
}


.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px) brightness(50%); /* Adjust the filter as needed */
  z-index: 0; /* Ensure the image is behind other content */
  image-rendering: smooth; /* Works in some browsers */
}