.login_container {
    max-width: 40%;
    margin: auto auto;
}

.sporthub_title {
    font-size: 6rem;
    color: white;
    text-align: center;
}

.login_button {
    margin: 4px auto;
    width: 80%;
}

.register_text {
    text-align: center;
    color: white;
}