.main_row {
    flex-grow: 1;
}

.left_col {
    display: flex;
    flex-direction: column;
    justify-content: center; //applied to the main direction, in this case vertical!
}

.title_row {
    background-color: white;
    max-width: fluid;
}

.right_col {
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Ensures the container takes full height */
    flex-direction: column;
    display: flex;
  }