.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.nav-left {
  margin-right: auto; // Pushes the links to the left
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-navbar {
  background-color: #60508C !important; /* Replace with any HEX color */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.custom-outline-btn {
  color: #ffffff; // White text
  border: 2px solid #E99E14; // Custom outline color
  background-color: transparent; // Transparent background
  padding: 10px 20px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #E99E14; // Fill background on hover
    color: #000000; // Black text on hover for contrast
  }
}


