@use '../../variables' as v;

.main_content_container {
    background-color: white;
    margin: 0px 0px;
    flex-grow: 1;
    padding-bottom: 2rem;
}

.section_header {
    color: v.$sporthub-text-gold;
    text-align: center;
}